.checkout-page-container {
    display: grid;
    grid-template-areas:
        "checkout-form ""coupon-form";
    margin: 2em;
}

/* @media screen and (max-width: 1110px){
    .checkout-page-container{
    grid-template-areas: 
    "checkout-form"
    "coupon-form";
    }
  } */